:root {
    --elementDark: #0e0c64;
    --element: #121189;
    --elementLight: #1310e007;
    --elementTrans: #1310e02c;
    --background1: #12121A;
    --background2: #FAF9FF;
    --texte1: #FAF9FF;
    --texte2: #12121A;
    --fondPage: #FFFFFF;
    --jeu: #39FF14;
    --jeu_alert: #FF073A;
    --ombre: #00000003;
    --ombreSurvol: #0000001e;

    --texte: 'Poppins';
    --titre: 'Bristone';
    --jeu_texte: 'Press Start 2P';
}


/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Bristone';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Bristone.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

section {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
}

section h1 {
    padding: 16px;
}

section h3 {
    margin: 0 16px;
}



section p {
    text-align: center;
    font-weight: 400;
    font-size: 0.6rem;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    margin: auto;
    cursor: pointer;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.1) inset;
    color: var(--texte1);

}

#startRestart {

    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 0.8rem;
}


#jump {
    border: none;
    padding: 16px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#jump,
#start,
#restart {
    background-color: #5b5b5f;
}


#console {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/backgroundJeu.webp"),
        linear-gradient(var(--elementLight), var(--elementTrans));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--elementLight);
    backdrop-filter: blur(2px);
    border-top: 12px solid #565558;
    margin: 32px auto;
    box-shadow: 2px 4px 12px var(--elementTrans);
    border-radius: 6px 6px 32px 32px;
    -webkit-border-radius: 6px 6px 32px 32px;
    -moz-border-radius: 6px 6px 32px 32px;
    -ms-border-radius: 6px 6px 32px 32px;
    -o-border-radius: 6px 6px 32px 32px;
}

#gameCanvas {
    margin: 16px;
    width: 350px;
    height: 175px;
    border: 1px solid #00000071;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.control {
    background-color: #565558;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 32px;
    padding: 16px 0;
    font-family: var(--jeu_texte);
    justify-content:center;
    border-radius: 0 0 32px 32px;
    -webkit-border-radius: 0 0 32px 32px;
    -moz-border-radius: 0 0 32px 32px;
    -ms-border-radius: 0 0 32px 32px;
    -o-border-radius: 0 0 32px 32px;
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        0 1px 0 rgba(255, 255, 255, 0.1) inset;
}

@media (min-width: 768px) {

    .control {
        width: 100%;
        gap: 72px;
        border-radius: 0 0 32px 32px;
        -webkit-border-radius: 0 0 32px 32px;
        -moz-border-radius: 0 0 32px 32px;
        -ms-border-radius: 0 0 32px 32px;
        -o-border-radius: 0 0 32px 32px;
        box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    

    #gameCanvas {
        width: 400px;
        height: 200px;
    }

    section p {
       
        padding: 8px 24px;
    
    }
}



@media (min-width: 1000px) {

    .control {
        gap: 160px;
       
    }

    #jump {
        height: 50px;
        width: 50px;

    }

    section p {
        font-size: 0.8rem;
    
    }

    #startRestart {

        display: flex;
        flex-direction: row;
        gap: 16px;
    }


    section {
        max-width: 1200px;

    }


    #gameCanvas {
        width: 800px;
        height: 400px;
    }

    .bi-x {
        height: 40px;
        width: 40px;
    }



}

