:root {
    --element: #1210E0;
    --background1: #12121A;
    --background2: #FAF9FF;
    --texte1: #FAF9FF;
    --texte2: #12121A;
    --fondPage: #FFFFFF;
    --jeu: #39FF14;
    --jeu_alert: #FF073A;

    --texte: 'Poppins';
    --titre: 'Roboto';
    --jeu_texte: 'Press Start 2P';
}


/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/press-start-2p-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  
  .produit-container {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
}
.produit-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.produit-details {
    flex: 1;
}
.produit-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.produit-details p {
    font-size: 1em;
    margin-bottom: 10px;
}
.btn-commander {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}
